.cursorTailAnimation {
  width: 100%;
  height: 100vh;
  cursor: none; /* Hide default cursor */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9; /* Keep above other content but below the Navbar */
  pointer-events: none; /* Allow clicks to pass through */
  cursor: none;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 10; /* Above the animation layer but below the Navbar */
}

.particle {
  position: fixed;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: orange; /* Blast color */
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 10; /* Match with .circle to keep all cursor elements at the same level */
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.mobileText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  display: none;
  z-index: 8; /* Lower than cursor elements to keep them visible */
}
