/* cursor.module.css */
.cursorTailAnimation {
    width: 100%;
    height: 100vh;
    cursor: none; /* Hide default cursor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
  
  .circle {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2; /* Keep circles above the animation layer but below Navbar and footer */
  }
  
  .mobileText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    display: none;
  }
  .particle {
    position: fixed;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: orange; /* Blast color */
    pointer-events: none;
    z-index: 10000;
    opacity: 1;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }