/* src/App.css */
body, html {
    margin: 0; /* Remove default margin */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

#app {
    position: relative; /* Make the app div relative for stacking context */
    touch-action: pan-up; /* Allow vertical scrolling */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

/* Content wrapper for scrolling */
#content {
    max-height: 100vh; /* Allow content to fill the viewport */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
}

#app h1 {
    --fontSize: 60px;
    --lineHeight: 80px;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    margin: 20px auto; /* Margin around headings for spacing */
    font-size: var(--fontSize);
    text-transform: uppercase;
}

#app a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

/* Ensure canvas covers the full viewport */
#app canvas {
    display: block; /* Removes the gap below the canvas */
    position: fixed; /* Fixed position to cover the viewport */
    z-index: -1; /* Behind all other content */
    top: 0;
    left: 0; /* Ensure the canvas starts at the top left */
    width: 100vw; /* Full width of viewport */
    height: 100vh; /* Full height of viewport */
    pointer-events: none; /* Allows clicks to pass through to other elements */
}
